<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6FcmH6yiKpe5ERLZPlHO5UrdyVni19HI</string>
	<key>GCM_SENDER_ID</key>
	<string>323624079889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isave.idev</string>
	<key>PROJECT_ID</key>
	<string>isave-84a45</string>
	<key>STORAGE_BUCKET</key>
	<string>isave-84a45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323624079889:ios:8c3bacc90bd99c8e7cd7b0</string>
</dict>
</plist>